<div class="row">
<div class="col-6 mx-auto">
<h1>Ajouter un article</h1>
 
<%= render 'form' %>
 
<%= link_to '<i class="fa fa-chevron-circle-left"></i> Retour'.html_safe, articles_path, class: 'btn btn-dark' %>
</div>
</div>