<% content_for :content do %>
    <div class="jumbotron text-center text-white" style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url('<%=image_url('blog_1920.jpg')%>'); background-size: cover;">
        <h1 class="display-4">Articles</h1>
        <p class="lead">Plateforme de publication d'articles et de commentaires</p>
    </div>
    <div class="container">
        <%= yield %>
    </div>
<% end %>

<%= render template: "layouts/application" %>