<% content_for :content do %>
    <div class="jumbotron text-center">
        <h1>Vlille</h1>
        <h4>Plateforme de localisation des stations de vélos de la métropole lilloise</h4>
    </div>
    <div class="container-fluid">
        <%= yield %>
    </div>
<% end %>

<%= render template: "layouts/application" %>